<%= simple_nested_form_for @employee, :html => { :class => 'form-horizontal' } do |employee_form| %>
	<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">&nbsp;</div>
		<div class="span4">
			<fieldset>
				<legend>New Employee</legend>
				<div class = "well">
					<!-- render employee fields -->
					<%= render "employee_fields", :f => employee_form %>
					<%= employee_form.submit nil, :class => 'btn btn-primary' %>
				</div>
		  </fieldset>
		</div>
		<div class="span4">
			<legend>Create an account for this employee?</legend>
			<div class="well">
				<%= employee_form.simple_fields_for :user do |user_form| %>
					<!-- render nested user fields-->
					<%= render "user_fields", :f => user_form %>
				<% end %>
				<p>
					<%= employee_form.link_to_add(raw("<i class='icon-plus icon-white'></i> Want to create an account?"), :user, :class => 'btn btn-mini btn-primary') %>
				</p>
			</div>
		</div>
		<div class="span2">&nbsp;</div>
	</div>
	</div>
<% end %>