<h2><u>Assignment Details</u></h2>

<br />

<!-- All of the details about the selected assignment -->

<b>Store Name:</b>
<%= link_to @assignment.store.name, @assignment.store %>
<br />
<br />

<b>Employee Name:</b>
<%= link_to @assignment.employee.name, @assignment.employee %>
<br />
<br />

<b>Start Date:</b>
<%= @assignment.start_date.strftime("%m/%d/%y") %>
<br />
<br />

<b>End Date:</b>
<%= @assignment.end_date.strftime("%m/%d/%y") unless @assignment.end_date == nil %>
<br />
<br />

<b>Pay Level:</b>
<%= @assignment.pay_level %>
<br />
<br />

<!-- Button with link to the assignment 'edit' page -->
<%= link_to(edit_assignment_path(@assignment)) do %>
	<button class="btn btn-primary">
		<i class="icon-pencil icon-white"></i>
		<span class="white-text"> Edit</span>
	</button>
<% end %>

<!-- Button with link to delete the assignment -->
<%= link_to(@assignment, { :confirm => "Are you sure?", :method => :delete }) do %>
	<button class="btn btn-danger">
		<i class="icon-trash icon-white"></i>
		<span class="white-text"> Delete</span>
	</button>
<% end %>

<!-- Button with link to the assignment 'index' page -->
<%= link_to(assignments_path) do %>
	<button class="btn btn-success">
		<i class="icon-align-justify icon-white"></i>
		<span class="white-text"> View All</span>
	</button>
<% end %>