<% if @stores.size == 0 %> <!-- if there are no stores in the system -->
	<h3>~ No Stores in Systems ~</h3>
<% else %>
<!-- table showing all stores -->
<table class="table table-striped">
	<thead>
		<tr>
			<th><u>Name</u></th>
			<th><u>Staff Count</u></th>
			<th><u>Total Shift Hours<br>(last 2 weeks)</u></th>
		</tr>
	</thead>
	<!-- loop through stores -->
	<% @stores.each do |store| %>
	<tr>
		<!-- name -->
		<td><%= link_to store.name, store %></td>
		<!-- staff count -->
		<td><%= store.assignments.current.count %></td>
		<!-- total shift hours in last two weeks -->
		<td>
			<% @shifts_past = Shift.for_store(store.id).for_past_days(14) %> 
				<% count = 0 %>
				<% @shifts_past.each do |shift| %>
					<% count+=shift.get_shift_length %>
				<% end %>
				<% if count == 0 %>
					<h4>~ no hours ~</h4>
				<% else %>
					<h4><%= count %></h4>
				<% end %>
		</td>
		<td>
			<!-- button with link to create a new employee -->
			<%= link_to(new_assignment_path(:store_id => store.id)) do %>
  				<button class="btn btn-primary">
  					<i class="icon-plus-sign icon-white"></i> <span class="white-text">New Assignment </span>
  				</button>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>

<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
	<%= will_paginate @stores, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
<% end %>